<h1 class="text-center mt-4"> Edit category name </h1>
  <%=render 'form'%>
    </div>
    </div>
    <div class="mb-3">
      <div class="form-group row justify-content-center">
          <%= link_to '[Cancel and return to category]', category_path(@category), class: "text-info" %>
      </div>
    </div>
</div>