<h1 class="text-center mt-4"> Create a new category </h1>
  <%=render 'form'%>
    </div>
    </div>
    <div class="mb-3">
      <div class="form-group row justify-content-center">
          <%= link_to '[Cancel and return to articles listing]', categories_path, class: "text-info" %>
      </div>
    </div>
</div>
